
h3{
	font-family: SourceSansProBold;
}
b{
	font-family: SourceSansProBold;
	font-weight: bold;	
}

.bold {
	font-family: SourceSansProBold;
	font-weight: bold;	
}

.italic{
	font-style: italic;
}

.uppercase{
	text-transform: uppercase;
}

